@{
    ViewBag.Title = "Creador";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>soy un estuiante de ingenieria en software, entuciasta y sincero con su trabajo.</p>
</main>